.blocker {
  z-index: 1200;
}

.modal {
  z-index: 1201;
  height: 50%;
  overflow-y: scroll;
}

.modal a.close-modal {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
}

.modal h2 {
  width: 90%;
}
